.posts-container {
  max-width: 900px;
  /* border: 2px solid grey; */
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 8px 3px rgba(85, 85, 85, 0.6);
  background: white;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.instagram-app {
  margin: 0 auto;
  max-width: 642px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logout-button {
  font-size: 1.4rem;
  background: white;
  color: gray;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-right: 8rem;
  padding-top: 2rem;
}

.logout-button:hover {
  cursor: pointer;
  color: #0267d6;
}

.logout-button:focus {
  outline: 0;
}
